/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.front #page-title, .breadcrumbs, .breadcrumb, .not-front #site-slogan, .front .region-highlighted, .not-front a.more-button {
	display: none;
}



img {
	width:100%;
	height: auto;
}

p {
	padding:20px 0px;
}

/*
======================================================================================
Variables
======================================================================================
*/

$white: #ffffff;
$black: #000000;
$brown: #835932;
$gold: #ffebac;
$lightgold: #fff6d8;
$red: #973141;
$darkbrown: #382b23;
$lightergold: rgba(255,246,216,0.3);

$tablet-layout: 1100px;
$phone-layout:600px;
$medium-layout: 900px;
$galaxys6-layout: 400px;
$macbook-layout:1400px;
$monitor-layout:1920px;


/*
======================================================================================
Miscellaneous
======================================================================================
*/


a.more-button {
	text-align: center;
	display:block;
	text-decoration: none;
	background-color:$gold;
	color:$brown;
	padding:10px;
	width:150px;
	margin:10px auto;
	font-family: 'BioRhyme', serif;

	&:hover {
		opacity:0.7;
	}
}

.field-label {
		font-family: 'BioRhyme', serif;
		font-weight: 400;
	    color: $lightgold;
	    font-size: 26px;
	    padding:20px 0px;

}

.front .region-content #block-views-webform-block {
	margin:0;
}

.not-front h1#page-title{
	padding-top:120px;
	/*
	@media screen and (max-width: $medium-layout) { 
		padding-top:40px;
	}
	*/

}

.page-contact h1#page-title{

			@media screen and (max-width: $medium-layout) {
				padding-top:130px;
			}
	}

.node-type-news {

	h1#page-title {
	@media screen and (max-width: $medium-layout) { 
		padding-top:140px;
	}
}
}

/*
======================================================================================
Social Media
======================================================================================
*/

#social-media-menu {
	position: absolute;
	right:20px;
	top:25px;

	@media screen and (max-width: $tablet-layout) {
		top:18px;
	}

	@media screen and (max-width: $phone-layout) {
		top:60px;
		left:50%;
			-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			right:initial;
			    text-align: center;
    width: 100%;
        background-color: $red;
    padding: 5px 0px;


	}

	.fa {
		width: 22px;
		text-align:center;
		height:22px;
		line-height: 22px;
		vertical-align: middle;
		color:$red;
		padding:3px;
		-webkit-border-radius: 25px 25px 25px 25px;
		border-radius: 25px 25px 25px 25px;
		/*border: 2px solid $red; */
		font-size:16px;
		-webkit-transition: background 300ms ease;
		-moz-transition: background 300ms ease;
		-ms-transition: background 300ms ease;
		-o-transition: background 300ms ease;
		transition: background 300ms ease;

		&:hover {
			background-color:$red;
			color:$gold;

			@media screen and (max-width: $phone-layout) {
			background-color:$darkbrown;
		}


		}

		@media screen and (max-width: $medium-layout) {
			padding:0px;
			
		}

		@media screen and (max-width: $phone-layout) {
			color: $gold;
		}
	}

}

/*
======================================================================================
Banner Image
======================================================================================
*/

@media screen and (max-width: $medium-layout) {

	.region-highlighted {
		padding-top:60px;
	}
}

@media screen and (max-width: $phone-layout) {
		.region-highlighted {
		padding-top:90px;
	}
}

/*
======================================================================================
Page
======================================================================================
*/

.front #header-wrapper {
	background: url("../images/realpaul-compressored.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 1200px;

    @media screen and (max-width: $macbook-layout) { 
    	height:900px;
    }
    
}


body {

}


/*
======================================================================================
Mailing List Form Submit
======================================================================================
*/

.page-node-done {

	.webform-confirmation {
		font-family: 'Lato', sans-serif;
    	text-transform: uppercase;
    	color:$gold;
    	font-weight:300;
    	font-size:42px;
    	text-shadow: 2px 2px 11px rgba(0, 0, 0, 1);
    	width:90%;
    	margin: 0 auto;
    	text-align: center;
    	padding:20px;
    	letter-spacing: 1px;

    	@media screen and (max-width: $medium-layout) {
			font-size:24px;
		}
    			
	}

	.links {
		display:none;
	}
}


/*
======================================================================================
Login Page
======================================================================================
*/

.page-user {

	ul.tabs {
			display: none;
		}

	#block-system-main {
		width:505px;
		height: auto;
		margin:0 auto;
		padding:50px 20px;
		box-sizing:border-box;

		@media screen and (max-width: $phone-layout) {
			width:100%;
		}

		label {
				color:$gold;
				font-family: 'BioRhyme', serif; 
				font-weight:300;
				padding-right:20px;
				padding-bottom:10px;
				text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);

				@media screen and (max-width: $phone-layout) {
					padding:0;
					padding-bottom:10px;
					display:inherit;
				}

			}

			input {
				
			}

			input,textarea {

				border: none;
    			font-family: 'BioRhyme', serif;
    			text-transform: uppercase;
    			color:#1a1a1a;
    			font-weight:200;
    			letter-spacing: 1px;
    			padding:10px 20px;
    			background-color:rgb(199,182,167);
    			cursor: pointer;

    			@media screen and (max-width: $phone-layout) {
    			padding:10px 20px;
    			box-sizing:border-box;
    			width:100%;
    		}

    			
			}

	}
}


/*
======================================================================================
Contact Form
======================================================================================
*/


.page-contact {

	#block-system-main {
		width:900px;
		height: auto;
		margin:0 auto;
		padding:50px 20px;
		box-sizing:border-box;

		@media screen and (max-width: $medium-layout) {
			width:100%;
		}

		h2 {
			font-weight:200;
		}

		.content {
			margin: 0 auto;

			.form-item, .form-actions {
				margin:30px 0px;
			}

			label {
				color:$gold;
				font-family: 'BioRhyme', serif; 
				font-weight:300;
				padding-right:20px;
				padding-bottom:10px;
				text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);

				@media screen and (max-width: $phone-layout) {
					padding:0;
					padding-bottom:10px;
					display:inherit;
				}

			}

			input {
				
			}

			input,textarea {

				border: none;
    			font-family: 'BioRhyme', serif;
    			text-transform: uppercase;
    			color:#1a1a1a;
    			font-weight:200;
    			letter-spacing: 1px;
    			padding:10px 20px;
    			background-color:rgb(199,182,167);
    			cursor: pointer;

    			@media screen and (max-width: $phone-layout) {
    			padding:10px 20px;
    			box-sizing:border-box;
    			width:100%;
    		}

    			
			}

			.resizable-textarea .grippie {
				background: #999999 url(../../misc/grippie.png) no-repeat center 2px !important;

			}
		}
	}
}


/*
======================================================================================
Header
======================================================================================
*/

//not Front
.not-front {

	#header {
		background: rgba(51, 27, 8, 0.8);

		h2 {
			color: $lightgold !important;

			@media screen and (max-width: $galaxys6-layout) { 
			font-size:9.8px !important;
			letter-spacing: 1px;
		}
	}

	#social-media-menu {
		.fa {
			color:$gold;
		}
	}

	#site-name {
		font-size:48px !important;

		a {
			color:$gold !important;

			-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;

						&:hover {
							color:white !important;
						}
		}

		@media screen and (max-width: $tablet-layout) { 
			font-size:32px !important;
		}

		@media screen and (max-width: $galaxys6-layout) { 
			font-size:26px !important;
		}

		}

	}

	.menu {
		.leaf {
			a {
				color: $lightgold !important;
			}
			li {
				@media screen and (max-width: $macbook-layout) {
			 	font-size: 12px !important;
			}
		}
		}
	}
}


// Front/General
#header-wrapper {
	font-family: 'BioRhyme', serif;

	#header {
		width:100%;
		height: 75px;
		position: fixed;
		transition: all 300ms ease;
		z-index:12;

		@media screen and (max-width: $tablet-layout) {
			height:60px;
		}

		#name-and-slogan {
			position:absolute;
			top:5px;
			left:50%;
			-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			text-align:center;

			@media screen and (max-width: $tablet-layout) {
				top:7px;
				

			}
			@media screen and (max-width: $medium-layout) {
				left:70px;
				transform:none;
			}

			@media screen and (max-width: $galaxys6-layout) { 
				top:10px;
			}

			@media screen and (max-width: $phone-layout) {
				left:50%;
							width:100%;
			-moz-transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			}

			#site-name {
				font-size:68px;
				font-weight: 700;
				text-transform: uppercase;

				@media screen and (max-width: $tablet-layout) {
					font-size:32px;
				}


				@media screen and (max-width: $galaxys6-layout) { 
			font-size:26px !important;
		}

				a {
					color:$red;
					text-decoration:none;
					-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;

						&:hover {
							color:white !important;
						}
				}

			}	

		}

		#sidr-wrapper-0 {
			width: 30px;
			display: block;
		    position: absolute;
		    z-index: 5;
		    top: 13px;
		    left: 20px;

			span {
				display:block;
			    height: 4px;
			    width: 30px;
			    border: none;
			    background-color: white;
			    border-radius: 70px !important;
			    margin: 5px auto 5px auto;
			}
		}


		h2 {
			font-family:'Lato', sans-serif;
			font-weight:400;
			text-transform: uppercase;
			letter-spacing: 7px;
			font-size:12px;
			color:$red;
			text-align: center;
			padding-left:9px;

			@media screen and (max-width: $tablet-layout) {
				letter-spacing: 2px;
				font-size:12px;
				padding:0px;
			}

			@media screen and (max-width: $galaxys6-layout) { 
			font-size:11px !important;
			letter-spacing: 1px;
		}

		}

	}

	#site-slogan {
	color: $brown;
		position:absolute;
		top:150px;
		text-transform: uppercase;
		font-weight: 100;
		left:50%;
		padding: 0px 20px;
		box-sizing:border-box;
		width:100%;
		font-size:24px;
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		text-align:center;

		@media screen and (max-width: $phone-layout) {
			font-size:24px;
		}
	}
}



/*
======================================================================================
Menu
======================================================================================
*/

.region-header {
	position:absolute;
	top:25px;
	left:20px;



	@media screen and (max-width: $tablet-layout) {
		top:19px;
	}

	.menu {

		.leaf {
			font-size:15px;
			display:inline-block;
			font-weight:600;

			a {
				text-decoration: none;
				color: $red;
				padding: 6px 5px 6px 0px;
				box-sizing:border-box;
				display: block;
				border-left: 5px solid transparent;
				-webkit-transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				transition: all 300ms ease;


			@media screen and (max-width: $macbook-layout) {
				padding:6px 0px;
			}


				&:hover {
					color: $gold;
					background-color: $brown;
					border-left: 5px solid $gold;
					padding:6px 12px;
				}

			}

			@media screen and (max-width: $macbook-layout) {
			 	font-size: 12px !important;
			}

		}

		.active-trail a {
			color: $gold;
			background-color: $brown;
			border-left: 5px solid $gold;
			padding:6px 12px;
		}
	}
}

/*
======================================================================================
Spotify/Youtube Blocks
======================================================================================
*/



.region-content {
	width:100%;
	height: auto;
	overflow: hidden;

	h2 {
		text-align:center;
		font-size:27px;
		padding:0px 0px 20px;
		text-transform: uppercase;
		font-family: 'BioRhyme', serif;
		color:$gold;
		font-weight:700;
		width: 100%;

		@media screen and (max-width: $phone-layout) {

			}	
		}

	h4 {
		font-family: 'BioRhyme', serif;
		font-weight:200;
		font-size:20px;

	}

	&::after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

	.embedblock {
		width:50%;
		float:left;
		text-align:center;
		height:600px;

		@media screen and (max-width: $tablet-layout) {
			width:100%;
			box-sizing:border-box;
		}
		
		.content {
			display:table;
			height:600px;
			margin: 0 auto;
			width:500px;
			padding:0px 20px;

			@media screen and (max-width: $phone-layout) {
				width:100%;
				box-sizing:border-box;
			}

			.blockcontainer {
				display: table-cell;
				vertical-align: middle;

				iframe {
					-webkit-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
					-moz-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
					box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);

					@media screen and (max-width: $tablet-layout) {
						width:100%;
					}

				}
			}
		}	
	}

	.spotifyblock {
		background: linear-gradient(rgba(122,47,62, 0.75), rgba(122,47,62, 0.75)), url("../images/paulblock1.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position:center;
	}

	.youtubeblock {
		background: linear-gradient(rgba(49,74,85, 0.75), rgba(49,74,85, 0.75)), url("../images/paulblock2.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position:center;
	}

	#block-agenda-2 {
		width:50%;
		float:left;
		background-color: $brown;
		height:600px;
		background: linear-gradient(rgba(75,49,24, 0.85), rgba(75,49,24, 0.85)), url("../images/paulblock3.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position:center;

	    @media screen and (max-width: $phone-layout) {
				height:800px;
			}

	    @media screen and (max-width: $tablet-layout) {
			width:100%;
		}

		.content {
			display:table;
			height:600px;
			margin: 0 auto;

			@media screen and (max-width: $phone-layout) {
				height:800px;
			}
		}

		.agenda-block {
			width:500px;
			margin: 0 auto;
			display:table-cell;
			vertical-align: middle;

			@media screen and (max-width: $phone-layout) {
	    		text-align:center;
	    	}

	    	h3 {
				font-family: 'BioRhyme', serif;
				font-weight: 400;
			    color: $lightgold;
			    font-size: 16px;
			        padding: 0 0 0 30px;
			    

	    		@media screen and (max-width: $phone-layout) {
			    	border:none;
			    	float:none;
			    	width:100%;
			    	height:auto;
			    	padding:0px;
	    		}

			}
			
			

			.tour-date {
				color: $lightgold;
				width:80%;
				/*border-bottom: 1px solid $gold;*/
				margin:25px auto;
				height:auto;
				padding:10px 0px;
				box-sizing:border-box;
				border-left: 3px solid $lightgold;

				@media screen and (max-width: $phone-layout) {
	    			border:none;
	    			margin:5px auto;
	   			}	

				&:after {
					visibility: hidden;
					display: block;
					font-size: 0;
					content: " ";
					clear: both;
					height: 0;
				}

				ol {
					padding:0 0 0 30px;
					box-sizing:border-box;
					

					@media screen and (max-width: $phone-layout) {
	    				padding:0px 20px;
	    				width:100%;
	    				border:none;
	    			}

				}
			}
		}

		li.cal_0 {
			background-color: transparent;

			ul.moreinfo {
				display: block !important;

				li {
					display:inline-block;
					letter-spacing: 1px;
					padding:0 8px 0 0;
					font-family: 'Lato', sans-serif;
					font-weight:100;
					line-height:14px;
					

					em {
						font-weight:400;
					}
					
				}
			}

		}
	}


	// Tours
	#block-agenda-3 {
		width:100%;
		float:left;

		h2 {
			display:none;
		}

		h4 {
			font-size:28px;
		}

		.content {
			padding: 20px;
    		box-sizing: border-box;
			width:900px;
			margin: 0 auto;

			@media screen and (max-width: $medium-layout) { 
				width:100%;
			}
		}

		.agenda-block {
			

			@media screen and (max-width: $phone-layout) {
	    		
	    	}

	    	h3 {
				font-family: 'BioRhyme', serif;
				font-weight: 400;
			    color: $lightgold;
			    font-size: 20px;
			    width: 30%;
			    height: auto;
			    float: left;
			    padding-top:20px;
			    padding-right: 20px;
    			box-sizing: border-box;

	    		@media screen and (max-width: $medium-layout) {
			    	border:none;
			    	float:none;
			    	width:100%;
			    	height:auto;
			    	padding:20px 0px;
	    		}

			}
			
			#tour-block .tour-date:last-child {
				border:none;

			}
			

			.tour-date {
				color: $lightgold;
				border-bottom: 1px solid $gold;
				padding:25px 0;
				height:auto;
				box-sizing:border-box;

				@media screen and (max-width: $phone-layout) {
	    		
	   			}	

				&:after {
					visibility: hidden;
					display: block;
					font-size: 0;
					content: " ";
					clear: both;
					height: 0;
				}

				ol {
					width:70%;
					float:left;
					padding:0 0 0 50px;
					box-sizing:border-box;
					border-left: 4px solid $lightgold;

					@media screen and (max-width: $phone-layout) {
	    				padding:0px;
	    				width:100%;
	    				border:none;
	    			}

				}
			}
		}



		li.cal_0 {
			background-color: transparent;
			padding:20px 0px;
			border-bottom: 1px solid $gold;

			@media screen and (max-width: $medium-layout) {
				padding:20px 20px 20px 0px;
			}

			&:first-child {
				
			}

			&:last-child {
				border:none;
			}

			ul.moreinfo {
				display: block !important;

				li {
					letter-spacing: 1px;
					font-family: 'Lato', sans-serif;
					font-weight:100;
					line-height:22px;
					

					em {
						font-weight:400;
					}
					
				}
			}

		}

	}

	#block-views-news-block {
		width: 50%;
		float:left;
		background-color: $brown;
		height:600px;
		background: linear-gradient(rgba(182,85,12, 0.85), rgba(182,85,12, 0.85)), url("../images/paulblock4.jpg");
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position:top center;
	    text-align: center;

	    @media screen and (max-width: $tablet-layout) {
			width:100%;
		}

	    .content {
	    	display:table;
	    	width:500px;
			height:600px;
			margin: 0 auto;

			@media screen and (max-width: $phone-layout) {
	    		width:100%;
	    	}


			.view-news { 
				display:table-cell;
				vertical-align: middle;

				.views-row {
					padding: 22px 0;
    				border-bottom: 1px solid #ffebac;
    				text-align: center;

    				@media screen and (max-width: $phone-layout) {
    					margin: 0 20px;
    					padding:16px 0px;
    				}

    				a {
    					font-family: 'BioRhyme', serif;
						font-weight:300;
						text-decoration: none;
						color:$lightgold;
						font-size:22px;
						-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;


						&:hover {
							color:white;
						}
    				}
				}

				.views-row:last-child {
					border:none;
				}
			}
		}
	}


	// News Page
	div#block-views-news-block-1 {
		text-align: center;
		width:900px;
			margin:0 auto;
			padding:50px 20px;



			@media screen and (max-width: $tablet-layout) {
			width:100%;
				box-sizing:border-box;
		}

		.views-row {
    		background: transparent;
    		-webkit-transition: all 300ms ease;
						-moz-transition: all 1000ms ease;
						-ms-transition: all 1000ms ease;
						-o-transition: all 1000ms ease;
						transition: all 1000ms ease;

			a {
    					font-family: 'BioRhyme', serif;
						font-weight:300;
						text-decoration: none;
						color:$lightgold;
						font-size:24px;
						-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;
						text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);


						&:hover {
							color:white;
							-moz-transition: all 500ms ease;
						-ms-transition: all 500ms ease;
						-o-transition: all 500ms ease;
						transition: all 500ms ease;
						}
			}

			&:before, &:after {
			    content: "";
			    height: 1px;
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(255,235,172,1) 50%,rgba(0,0,0,0) 100%);
				display: block;
				margin: 20px 0px;
			}


			.views-field-field-date {
				color:$gold;
				font-family: 'Lato', sans-serif;
				font-weight:300;
				font-size:12px;
				padding-top:5px;
			}

			&:hover {
				background: rgba(255,246,216,0.3);
			}
		}
	}

	#block-block-3 {
		width: 100%;
		height: auto;
		margin: 0 auto;
		float:left;
		background: linear-gradient(rgba(0,0,0, 0.45), rgba(0,0,0, 0.45)), url('../images/paulpsyched.jpg');
		background-repeat: no-repeat;
	    background-size: cover;
	    background-position:bottom;
		background-color: #020202;
		padding:150px 20px;
		box-sizing:border-box;


		h2 {
			padding-bottom:50px;

		}
		.content {
			width:50%;
			margin: 0 auto;
			height: auto;

			@media screen and (max-width: $tablet-layout) {
				width:100%;

			}

		}
	}

	/*
	======================================================================================
	Mailing List
	======================================================================================
	*/


	#block-views-webform-block {
		background-color:#1a1a1a;
		float:left;
		padding:50px 20px 20px;
		width: 100%;
		margin-top: 60px;
		text-align:center;
		box-sizing:border-box;

		h2 {
			font-weight:200;
		}

		.content {
			
			margin: 0 auto;

			.form-item.webform-component.webform-component-email.webform-component--your-email label {
				display:inline-block;
				color:$gold;
				font-family: 'BioRhyme', serif; 
				font-weight:300;
				padding-right:20px;

				@media screen and (max-width: $phone-layout) {
					padding:0;
					padding-bottom:10px;
					display:inherit;
				}

			}

			input#edit-submitted-your-email {
				background-color: #2D2D2D;
				border:none;
				height:30px;
				color:white;
				@media screen and (max-width: $phone-layout) {
					width:100%;
				}
			}

			input.webform-submit.button-primary.form-submit {
				border: none;
    			font-family: 'BioRhyme', serif;
    			text-transform: uppercase;
    			color:$gold;
    			font-weight:200;
    			letter-spacing: 1px;
    			padding:10px 20px;
    			background-color:$darkbrown;

    			&:hover {
    				opacity:0.7;
    				cursor:pointer; 			
    			}
			}
		}
	}
	// Footer 
	#block-block-4 {
		width:100%;
		background-color: #131313;
		float:left;
		padding: 15px 20px 16px;
		box-sizing:border-box;

		.content {
			width:100%;
		}

		#footer {
			width:100%;

			#footer-item-email,
			#footer-item-copyright,
			#footer-item-siteby {
				display: inline-block;
				width:33%;
				text-align: center;
				color:#444444;
				opacity:0.8;
				font-family: 'Lato', sans-serif;
				font-weight:300;
				font-size:10px;
				text-transform: uppercase;
				letter-spacing: 1px;

				@media screen and (max-width: 875px) {
					width:100%;
					line-height: 25px;
				}

				a {
					color:$red;
					text-decoration: none;
				}
			}

			#footer-item-email,
			#footer-item-copyright {
				opacity: 1;
			}
		}
	}

}




/*
======================================================================================
Mean Menu
======================================================================================
*/

.mean-bar {
	background:transparent !important;
	  	width: 58px !important;
    	height: 50px;
    	position: fixed !important;
    	z-index:100 !important;
    

	a.meanmenu-reveal {
		width:30px;
		height:30px;

		span {
			height:5px;
			background-color: $red;
			margin-top:4px;
			border-radius:100px;
			-webkit-box-shadow: 0px 0px 26px 0px rgba(212,0,0,1);
-moz-box-shadow: 0px 0px 26px 0px rgba(212,0,0,1);
box-shadow: 0px 0px 26px 0px rgba(212,0,0,1);
		}
	}

	nav.mean-nav {
		width: 100vw !important;
		position: absolute;
		top:20px;
		@media screen and (max-width: $medium-layout) {
		    top: 16px;
		}

		@media screen and (max-width: $phone-layout) {

    		top: 48px;
    	}

    	li {
    		font-family: 'Lato',sans-serif;
    		font-weight:400;
    		letter-spacing: 1px;
    		background: $darkbrown;
	    	a {
	    		color:$gold !important;

	    	}
    	}
	

	&:hover {

		li:hover {
		background:$red !important;
		-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;
		a:hover {
			color:white !important;
			background:none;
		}
		}
	}
}

a.meanmenu-reveal.meanclose {
	top:6px;
	text-shadow: 0px 0px 14px rgba(214,0,0,1);
}
}
/*
======================================================================================
Music Block
======================================================================================
*/

h1 {
	text-transform: uppercase;
	font-family: 'BioRhyme', serif;
	color:$lightgold;
	font-weight:400;
	width: 900px;
   	margin: 0 auto;
	font-size:36px;
	text-align: center;
	transition: all 200ms ease;

	@media screen and (max-width: $medium-layout) {
		width: 100%;    

	}		

	@media screen and (max-width: $phone-layout) {
		font-size:28px;
	}


}

.page-contact #main {
		background: linear-gradient(rgba(0,0,0, 0.25), rgba(0,0,0, 0.25)), url("../images/rusticpaul.jpg");
		background-repeat: no-repeat;
	    background-size: cover;
	    background-position:top left;
	    width:100vw;
	    height:auto;
}

.node-type-music #main,
.page-node-3 #main,
.node-type-news #main {
	position: relative;


	&:after {
		background: linear-gradient(rgba(0,0,0, 0.55), rgba(0,0,0, 0.55)), url("../images/tileable-wood-colored.png");
		    background-color: #331b08;
	    content: "";
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	    opacity: 1;
		}

	}

#main {
	position: relative;


	&:after {
		background: linear-gradient(rgba(0,0,0, 0.35), rgba(0,0,0, 0.35)), url("../images/tileable-wood-colored.png");
	    background-color: #331b08;
	    content: "";
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	    opacity: 1;
	}

	.region-content {

		.field-name-field-description {
			text-align: center;
			color: $lightgold;
			width:700px;
			height: auto;
			margin: 0 auto;
			font-family: 'Lato', sans-serif;
			font-weight:300;
			padding:20px;
			font-size:18px;
			line-height:25px;
			position:relative;
			box-sizing:border-box;

			@media screen and (max-width: $medium-layout) {
				width:100%;
			}

			&:before, &:after {
			    content: "";
			    height: 2px;
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(255,235,172,0.7) 50%,rgba(0,0,0,0) 100%);
				display: block;
				margin: 15px 0px;
			}
		}

		#block-views-music-block {
			width:900px;
			margin: 0 auto;
			padding: 50px 20px;
    		box-sizing: border-box;

    		@media screen and (max-width: $medium-layout) {
					width:100%;
				}


    		.view-content {

	    		&::after {
	    			visibility: hidden;
					display: block;
					font-size: 0;
					content: " ";
					clear: both;
					height: 0;
    			}
    		}

			.views-row {
				width:50%;
				float:left;
				padding:20px;
				box-sizing:border-box;
				-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;

				&:hover {
					opacity:0.7;
				}

				@media screen and (max-width: $medium-layout) {
					width:100%;
				}

				.views-field-field-album-art {

					img {
						border:2px solid $gold;
						box-sizing:border-box;
						width: 100%;
						height: auto;
						-webkit-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
						-moz-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
						box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
					}
				}

				.views-field-title {
					text-align: center;

					a {
						text-decoration: none;
						color: $gold;
						font-family: 'BioRhyme', serif;
						font-weight:200;
						font-size:24px;
						display:block;
						padding: 30px 0px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

/*
======================================================================================
Node News Pages
======================================================================================
*/

.node-type-news {
	#block-system-main {
		width:900px;
		margin: 0 auto;
		padding: 20px 30px 50px;
	    box-sizing: border-box;

	    @media screen and (max-width: $medium-layout) {
					width:100%;
		}

		.field-name-field-date {
			width:100%;
    		color:$gold;
    		font-family: 'BioRhyme', serif;
    		font-weight:100;
    		padding:10px 0px 30px;
    		margin: 0 auto;
    		text-align: center;
		}
		.field-name-field-body {
			color:$lightgold;
    		font-family: 'Lato', sans-serif;
    		font-weight:300;
    		line-height: 25px;
    		font-size:18px;
    		width:80%;
    		padding-top:30px;
    		margin: 0 auto;

    		@media screen and (max-width: $medium-layout) {
					width:100%;
		}

		a {
			text-decoration: none;
			color:$gold;
		}

    	}
	}

}

/*
======================================================================================
Node Music Pages
======================================================================================
*/

.node-type-music {

	#block-system-main {
		width:900px;
		margin: 0 auto;
		padding: 50px 20px;
	    box-sizing: border-box;

	    @media screen and (max-width: $medium-layout) {
					width:100%;
		}

	    .content {

	    	&::after {
	    			visibility: hidden;
					display: block;
					font-size: 0;
					content: " ";
					clear: both;
					height: 0;
    			}
    		.field-name-field-music-description {
    			width:100%;
    			float:left;
    			color:$lightgold;
    			padding:20px 0px;
    			font-family: 'Lato', sans-serif;
    			font-weight:300;
    			line-height: 25px;
    			font-size:18px;

    		}	
    			
    		.field-name-field-date-of-release {
    			width:100%;
    			float:left;
    			color:$gold;
    			font-family: 'BioRhyme', serif;
    				font-weight:100;

    		}
    			
    		.field-name-field-album-art {
    			width: 50%;
    			float: left;
    			padding: 20px 20px 20px 0px;
	    		box-sizing: border-box;

	    		img {
		    		-webkit-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
					-moz-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
					box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
				}

	    		@media screen and (max-width: $medium-layout) {
					width:100%;
					padding:20px;
				}
    		}

    		.field-name-field-songs-lyrics {
    			width:50%;
    			float:left;
    			padding: 20px 0px 20px 20px;
	    		box-sizing: border-box;

	    		@media screen and (max-width: $medium-layout) {
					width:100%;
					padding:20px;
		}

    			.ui-widget-content {
    				background:transparent;
    				border:none;
    				padding:0px 10px;
    			}

    			h3 {
    				background: transparent;
    				border:none;
    				border-bottom: 1px solid $gold;
    				font-family: 'BioRhyme', serif;
    				font-weight:300;
    				text-transform: uppercase;
    				letter-spacing: 1px;
    				font-size:15px;
    				padding:10px 0px 10px 2.2em;
    				box-sizing:border-box;
    				margin-bottom:20px;
    				-webkit-transition: all 300ms ease;
						-moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						-o-transition: all 300ms ease;
						transition: all 300ms ease;

    				&:hover {
				background: rgba(255,246,216,0.3);
			}

    				a  {
    					color:$gold;
    					position:relative;
    					}

    					&::after {
    						content:"Lyrics";
    						position: absolute;;
    						font-family: 'Lato', sans-serif;
    						right:10px;
    						font-size:14px;
    						font-weight: 100;
    						color:$lightgold;

    						@media screen and (max-width: $phone-layout) {
    							font-size:8px;
    							margin-top:5px;
    						}

    					}
    				}

    			p {
    				font-family: 'Lato', sans-serif;
    				font-weight:400;
    				color: $lightgold;
    			}
    		}

    		.field-name-field-photos {
    			width: 100%;
    			float:left;
    			padding: 20px 0px;
	    		box-sizing: border-box;


	    		.field-items {

	    			&::after {
	    				visibility: hidden;
					display: block;
					font-size: 0;
					content: " ";
					clear: both;
					height: 0;
	    			}

		    		.field-item {
		    			width:25%;
		    			float:left;
		    			/*padding:10px;*/
		    			box-sizing:border-box;

		    			@media screen and (max-width: $medium-layout) {
							width:50%;
						}
		    		}
	    		}

	    		img {
	    			-webkit-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
						-moz-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
						box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
	    		}

    		}

    		.field-name-field-videos {
    			width:100%;
    			float:left;
    			padding: 20px 0px;
	    		box-sizing: border-box;

	    		.field-item {
		    			width:50%;
		    			float:left;
		    			box-sizing:border-box;

		    			@media screen and (max-width: $phone-layout) {
							width:100%;
						}

		    			iframe {
		    				width:100%;
		    				-webkit-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
							-moz-box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
							box-shadow: 0px 5px 27px 0px rgba(0,0,0,1);
		    			}


		    	}
    		}

    		.field-collection-container {
    			width:100%;
    			float:left;
    			padding: 20px 0px;
	    		box-sizing: border-box;

	    		.field-name-field-credits {

		    		> .field-items {

		    			&::after {
	    					visibility: hidden;
							display: block;
							font-size: 0;
							content: " ";
							clear: both;
							height: 0;
	    				}

					    > .field-item {
					    	padding:10px 0px;
					    	width:50%;
					    	height:70px;
			    			float:left;

			    		

							@media screen and (max-width: $phone-layout) {
								width:100%;
								height:auto;
							}

		    			.field-name-field-title-of-person {
		    				color:$gold;
		    				font-family:'BioRhyme', serif;
		    				font-weight:300;
		    				font-size:20px;

		    			}

		    			.field-name-field-name-of-person {
		    				color:$lightgold;
			    			font-family: 'Lato', sans-serif;
			    			font-weight:300;
			    			font-size:18px;
			    			line-height:22px;
		    			}
	    			}	
	    			}
    			}

    		}	
	    }


	}
}

.not-front .region-content {
	
}

/*
======================================================================================
Media Queries
======================================================================================
*/

@media screen and (max-width: $tablet-layout) { 

	.not-front {

	}

}


@media screen and (max-width: 1200px ) {


.front #header {

		&.small {
			height:75px;
			background: rgba(51,27,8,0.7);
			box-shadow: 0 3px 2px rgba(0,0,0,0.1);

			h1#site-name {
				font-size:48px !important;

				@media screen and (max-width: 1100px) {
					font-size: 32px !important;
				}

				a {
					color: $lightgold !important;
				}
			}

			.menu .leaf a {
				color: $lightgold;
			}

			#social-media-menu .fa {
				color:$lightgold;

			}

			h2 {
				color:$lightgold !important;
			}
		}

}


		.mean-bar span {
			background-color: white !important;
			
		}
}


@media screen and (min-width: 1200px ) {

.front #header {

		&.small {
			height:75px;
			background: rgba(51,27,8,0.7);
			box-shadow: 0 3px 2px rgba(0,0,0,0.1);

			h1#site-name {
				font-size:48px !important;

				a {
					color: $lightgold !important;
				}
			}

			.menu .leaf a {
				color: $lightgold;
			}

			#social-media-menu .fa {
				color:$lightgold;

			}

			h2 {
				color:$lightgold !important;
			}
		}

}
}




