/* CSS Reset */
/* line 3, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/style.scss */
body {
  line-height: 1;
}

/* line 31, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../sass/style.scss */
#page-title, .breadcrumbs {
  display: none;
}

/*
======================================================================================
Variables
======================================================================================
*/
/*
======================================================================================
Miscellaneous
======================================================================================
*/
/* line 77, ../sass/style.scss */
a.more-button {
  text-align: center;
  display: block;
  text-decoration: none;
  background-color: #ffebac;
  color: #835932;
  padding: 10px;
  width: 150px;
  margin: 0 auto;
  font-family: 'BioRhyme', serif;
}

/*
======================================================================================
Social Media
======================================================================================
*/
/* line 95, ../sass/style.scss */
#social-media-menu {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 100, ../sass/style.scss */
#social-media-menu .fa {
  width: 22px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  color: #973141;
  padding: 3px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  /*border: 2px solid $red; */
  font-size: 16px;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}
/* line 118, ../sass/style.scss */
#social-media-menu .fa:hover {
  background-color: #973141;
  color: #ffebac;
}

/*
======================================================================================
Page
======================================================================================
*/
/* line 132, ../sass/style.scss */
.front #header-wrapper {
  background: url("../images/paulknakkcompressed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 1200px;
}

/* line 141, ../sass/style.scss */
body {
  width: 100vw;
  height: 100vh;
}

/*
======================================================================================
Header
======================================================================================
*/
/* line 153, ../sass/style.scss */
#header-wrapper {
  font-family: 'BioRhyme', serif;
}
/* line 156, ../sass/style.scss */
#header-wrapper #header {
  width: 100%;
  height: 75px;
  background: rgba(244, 248, 251, 0.8);
  position: fixed;
}
/* line 162, ../sass/style.scss */
#header-wrapper #header #name-and-slogan {
  position: absolute;
  top: 5px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
/* line 173, ../sass/style.scss */
#header-wrapper #header #name-and-slogan #site-name {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 178, ../sass/style.scss */
#header-wrapper #header #name-and-slogan #site-name a {
  color: #973141;
  text-decoration: none;
}
/* line 187, ../sass/style.scss */
#header-wrapper #header h2 {
  font-family: 'Robot', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 12px;
  color: #835932;
  text-align: center;
  padding-left: 9px;
}
/* line 201, ../sass/style.scss */
#header-wrapper #site-slogan {
  color: #835932;
  position: absolute;
  top: 110px;
  text-transform: uppercase;
  font-weight: 100;
  left: 50%;
  width: 100%;
  font-size: 34px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

/*
======================================================================================
Menu
======================================================================================
*/
/* line 227, ../sass/style.scss */
.region-header {
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 234, ../sass/style.scss */
.region-header .menu .leaf {
  font-size: 15px;
  display: inline-block;
}
/* line 238, ../sass/style.scss */
.region-header .menu .leaf a {
  text-decoration: none;
  color: #973141;
  padding: 6px 5px 6px 0px;
  box-sizing: border-box;
  display: block;
  border-left: 5px solid transparent;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 252, ../sass/style.scss */
.region-header .menu .leaf a:hover {
  color: #ffebac;
  background-color: #835932;
  border-left: 5px solid #ffebac;
  padding: 6px 12px;
}

/*
======================================================================================
Spotify/Youtube Blocks
======================================================================================
*/
/* line 272, ../sass/style.scss */
.region-content {
  width: 100%;
  height: auto;
  overflow: hidden;
  /*
  ======================================================================================
  Mailing List
  ======================================================================================
  */
}
/* line 277, ../sass/style.scss */
.region-content h2 {
  text-align: center;
  font-size: 32px;
  padding: 0px 0px 20px;
  text-transform: uppercase;
  font-family: 'BioRhyme', serif;
  color: #ffebac;
  font-weight: 700;
  width: 100%;
}
/* line 292, ../sass/style.scss */
.region-content h3 {
  font-family: 'BioRhyme', serif;
  font-weight: 400;
  color: #fff6d8;
  font-size: 16px;
  width: 79px;
  padding: 0px 30px 0px 0px;
  height: 50px;
  float: left;
  border-right: 3px solid #fff6d8;
}
@media screen and (max-width: 600px) {
  /* line 292, ../sass/style.scss */
  .region-content h3 {
    border: none;
    float: none;
    width: 100%;
    height: auto;
    padding: 0px;
  }
}
/* line 313, ../sass/style.scss */
.region-content h4 {
  font-family: 'BioRhyme', serif;
  font-weight: 200;
  font-size: 20px;
}
/* line 320, ../sass/style.scss */
.region-content::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 329, ../sass/style.scss */
.region-content .embedblock {
  width: 50%;
  float: left;
  text-align: center;
  height: 600px;
}
@media screen and (max-width: 1100px) {
  /* line 329, ../sass/style.scss */
  .region-content .embedblock {
    width: 100%;
    box-sizing: border-box;
  }
}
/* line 340, ../sass/style.scss */
.region-content .embedblock .content {
  display: table;
  height: 600px;
  margin: 0 auto;
  width: 500px;
  padding: 0px 20px;
}
@media screen and (max-width: 600px) {
  /* line 340, ../sass/style.scss */
  .region-content .embedblock .content {
    width: 100%;
    box-sizing: border-box;
  }
}
/* line 352, ../sass/style.scss */
.region-content .embedblock .content .blockcontainer {
  display: table-cell;
  vertical-align: middle;
}
/* line 356, ../sass/style.scss */
.region-content .embedblock .content .blockcontainer iframe {
  -webkit-box-shadow: 0px 5px 27px 0px black;
  -moz-box-shadow: 0px 5px 27px 0px black;
  box-shadow: 0px 5px 27px 0px black;
}
@media screen and (max-width: 1100px) {
  /* line 356, ../sass/style.scss */
  .region-content .embedblock .content .blockcontainer iframe {
    width: 100%;
  }
}
/* line 370, ../sass/style.scss */
.region-content .spotifyblock {
  background: linear-gradient(rgba(122, 47, 62, 0.75), rgba(122, 47, 62, 0.75)), url("../images/paulblock1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 377, ../sass/style.scss */
.region-content .youtubeblock {
  background: linear-gradient(rgba(49, 74, 85, 0.75), rgba(49, 74, 85, 0.75)), url("../images/paulblock2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 384, ../sass/style.scss */
.region-content #block-agenda-2 {
  width: 50%;
  float: left;
  background-color: #835932;
  height: 600px;
  background: linear-gradient(rgba(75, 49, 24, 0.85), rgba(75, 49, 24, 0.85)), url("../images/paulblock3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1100px) {
  /* line 384, ../sass/style.scss */
  .region-content #block-agenda-2 {
    width: 100%;
  }
}
/* line 398, ../sass/style.scss */
.region-content #block-agenda-2 .content {
  display: table;
  height: 600px;
  margin: 0 auto;
}
/* line 404, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block {
  width: 500px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  /* line 404, ../sass/style.scss */
  .region-content #block-agenda-2 .agenda-block {
    text-align: center;
  }
}
/* line 414, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block #tour-block .tour-date:nth-child(4) {
  border: none;
}
/* line 420, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block .tour-date {
  color: #fff6d8;
  border-bottom: 1px solid #ffebac;
  padding: 25px 0;
  height: 95px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  /* line 420, ../sass/style.scss */
  .region-content #block-agenda-2 .agenda-block .tour-date {
    border: none;
    height: 95px;
  }
}
/* line 432, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block .tour-date:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 441, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block .tour-date ol {
  width: 388px;
  float: left;
  padding: 0 0 0 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  /* line 441, ../sass/style.scss */
  .region-content #block-agenda-2 .agenda-block .tour-date ol {
    padding: 0px 20px;
    width: 100%;
  }
}
/* line 456, ../sass/style.scss */
.region-content #block-agenda-2 li.cal_0 {
  background-color: transparent;
}
/* line 459, ../sass/style.scss */
.region-content #block-agenda-2 li.cal_0 ul.moreinfo {
  display: block !important;
}
/* line 462, ../sass/style.scss */
.region-content #block-agenda-2 li.cal_0 ul.moreinfo li {
  display: inline-block;
  letter-spacing: 1px;
  padding: 0 8px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 14px;
}
/* line 471, ../sass/style.scss */
.region-content #block-agenda-2 li.cal_0 ul.moreinfo li em {
  font-weight: 400;
}
/* line 483, ../sass/style.scss */
.region-content #block-views-news-block {
  width: 50%;
  float: left;
  background-color: #835932;
  height: 600px;
  background: linear-gradient(rgba(182, 85, 12, 0.85), rgba(182, 85, 12, 0.85)), url("../images/paulblock4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  /* line 483, ../sass/style.scss */
  .region-content #block-views-news-block {
    width: 100%;
  }
}
/* line 498, ../sass/style.scss */
.region-content #block-views-news-block .content {
  display: table;
  width: 500px;
  height: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  /* line 498, ../sass/style.scss */
  .region-content #block-views-news-block .content {
    width: 100%;
  }
}
/* line 509, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news {
  display: table-cell;
  vertical-align: middle;
}
/* line 513, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news .views-row {
  padding: 22px 0;
  border-bottom: 1px solid #ffebac;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 513, ../sass/style.scss */
  .region-content #block-views-news-block .content .view-news .views-row {
    margin: 0 20px;
    padding: 16px 0px;
  }
}
/* line 523, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news .views-row a {
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  text-decoration: none;
  color: #fff6d8;
  font-size: 22px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 536, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news .views-row a:hover {
  color: white;
}
/* line 542, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news .views-row:nth-child(4) {
  border: none;
}
/* line 549, ../sass/style.scss */
.region-content #block-block-3 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/paulpsyched.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #020202;
  padding: 150px 20px;
  box-sizing: border-box;
}
/* line 564, ../sass/style.scss */
.region-content #block-block-3 h2 {
  padding-bottom: 50px;
}
/* line 568, ../sass/style.scss */
.region-content #block-block-3 .content {
  width: 50%;
  margin: 0 auto;
  height: auto;
}
@media screen and (max-width: 1100px) {
  /* line 568, ../sass/style.scss */
  .region-content #block-block-3 .content {
    width: 100%;
  }
}
/* line 588, ../sass/style.scss */
.region-content #block-views-webform-block {
  background-color: #1a1a1a;
  float: left;
  padding: 50px 20px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
/* line 596, ../sass/style.scss */
.region-content #block-views-webform-block h2 {
  font-weight: 200;
}
/* line 600, ../sass/style.scss */
.region-content #block-views-webform-block .content {
  margin: 0 auto;
}
/* line 604, ../sass/style.scss */
.region-content #block-views-webform-block .content .form-item.webform-component.webform-component-email.webform-component--your-email label {
  display: inline-block;
  color: #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  padding-right: 20px;
}
@media screen and (max-width: 600px) {
  /* line 604, ../sass/style.scss */
  .region-content #block-views-webform-block .content .form-item.webform-component.webform-component-email.webform-component--your-email label {
    padding: 0;
    padding-bottom: 10px;
    display: inherit;
  }
}
/* line 619, ../sass/style.scss */
.region-content #block-views-webform-block .content input#edit-submitted-your-email {
  background-color: #2D2D2D;
  border: none;
  height: 30px;
  color: white;
}
/* line 626, ../sass/style.scss */
.region-content #block-views-webform-block .content input.webform-submit.button-primary.form-submit {
  border: none;
  font-family: 'BioRhyme', serif;
  text-transform: uppercase;
  color: #ffebac;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: #382b23;
}
/* line 636, ../sass/style.scss */
.region-content #block-views-webform-block .content input.webform-submit.button-primary.form-submit:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* line 644, ../sass/style.scss */
.region-content #block-block-4 {
  width: 100%;
  background-color: #131313;
  float: left;
  padding: 15px 20px;
}
/* line 650, ../sass/style.scss */
.region-content #block-block-4 .content {
  width: 100%;
}
/* line 654, ../sass/style.scss */
.region-content #block-block-4 #footer {
  width: 100%;
}
/* line 657, ../sass/style.scss */
.region-content #block-block-4 #footer #footer-item-email,
.region-content #block-block-4 #footer #footer-item-copyright,
.region-content #block-block-4 #footer #footer-item-siteby {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: #444444;
  opacity: 0.8;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 671, ../sass/style.scss */
.region-content #block-block-4 #footer #footer-item-email a,
.region-content #block-block-4 #footer #footer-item-copyright a,
.region-content #block-block-4 #footer #footer-item-siteby a {
  color: #973141;
  text-decoration: none;
}
/* line 677, ../sass/style.scss */
.region-content #block-block-4 #footer #footer-item-email,
.region-content #block-block-4 #footer #footer-item-copyright {
  opacity: 1;
}
