/* CSS Reset */
/* line 3, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/style.scss */
body {
  line-height: 1;
}

/* line 31, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../sass/style.scss */
#page-title, .breadcrumbs {
  display: none;
}

/*
======================================================================================
Miscellaneous
======================================================================================
*/
/*
======================================================================================
Variables
======================================================================================
*/
/*
======================================================================================
Social Media
======================================================================================
*/
/* line 77, ../sass/style.scss */
#social-media-menu {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 82, ../sass/style.scss */
#social-media-menu .fa {
  width: 22px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  color: #973141;
  padding: 3px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  /*border: 2px solid $red; */
  font-size: 16px;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}
/* line 100, ../sass/style.scss */
#social-media-menu .fa:hover {
  background-color: #973141;
  color: #ffebac;
}

/*
======================================================================================
Page
======================================================================================
*/
/* line 114, ../sass/style.scss */
.front #header-wrapper {
  background: url("../images/paulknakkcompressed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 1200px;
}

/* line 123, ../sass/style.scss */
body {
  width: 100vw;
  height: 100vh;
}

/*
======================================================================================
Header
======================================================================================
*/
/* line 135, ../sass/style.scss */
#header-wrapper {
  font-family: 'BioRhyme', serif;
}
/* line 138, ../sass/style.scss */
#header-wrapper #header {
  width: 100%;
  height: 60px;
  position: fixed;
}
/* line 143, ../sass/style.scss */
#header-wrapper #header #name-and-slogan {
  position: absolute;
  top: 5px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
/* line 154, ../sass/style.scss */
#header-wrapper #header #name-and-slogan #site-name {
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 159, ../sass/style.scss */
#header-wrapper #header #name-and-slogan #site-name a {
  color: #973141;
  text-decoration: none;
}
/* line 170, ../sass/style.scss */
#header-wrapper #site-slogan {
  color: #835932;
  position: absolute;
  top: 70px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

/*
======================================================================================
Menu
======================================================================================
*/
/* line 192, ../sass/style.scss */
.region-header {
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 199, ../sass/style.scss */
.region-header .menu .leaf {
  font-size: 18px;
  display: inline-block;
}
/* line 203, ../sass/style.scss */
.region-header .menu .leaf a {
  text-decoration: none;
  color: #973141;
  padding: 6px 5px 6px 0px;
  box-sizing: border-box;
  display: block;
  border-left: 5px solid transparent;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 217, ../sass/style.scss */
.region-header .menu .leaf a:hover {
  color: #ffebac;
  background-color: #835932;
  border-left: 5px solid #ffebac;
  padding: 6px 12px;
}

/*
======================================================================================
Spotify/Youtube Blocks
======================================================================================
*/
/* line 237, ../sass/style.scss */
.region-content {
  width: 100%;
  height: 500px;
}
/* line 242, ../sass/style.scss */
.region-content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 251, ../sass/style.scss */
.region-content .embedblock {
  font-family: 'BioRhyme', serif;
  color: #ffebac;
  width: 50%;
  float: left;
  text-align: center;
  height: 500px;
}
/* line 259, ../sass/style.scss */
.region-content .embedblock .content {
  display: table;
  height: 500px;
  margin: 0 auto;
}
/* line 264, ../sass/style.scss */
.region-content .embedblock .content .blockcontainer {
  display: table-cell;
  vertical-align: middle;
}
/* line 268, ../sass/style.scss */
.region-content .embedblock .content .blockcontainer h2 {
  text-align: left;
  font-size: 22px;
  padding: 0px 0px 20px;
  text-transform: uppercase;
}
/* line 281, ../sass/style.scss */
.region-content .spotifyblock {
  background: linear-gradient(rgba(122, 47, 62, 0.75), rgba(122, 47, 62, 0.75)), url("../images/paulblock1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 288, ../sass/style.scss */
.region-content .youtubeblock {
  background: linear-gradient(rgba(49, 74, 85, 0.75), rgba(49, 74, 85, 0.75)), url("../images/paulblock2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 295, ../sass/style.scss */
.region-content iframe {
  -webkit-box-shadow: 0px 5px 27px 0px black;
  -moz-box-shadow: 0px 5px 27px 0px black;
  box-shadow: 0px 5px 27px 0px black;
}
