/* CSS Reset */
/* line 3, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/style.scss */
body {
  line-height: 1;
}

/* line 31, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 47, ../sass/style.scss */
.front #page-title, .breadcrumbs, .breadcrumb, .not-front #site-slogan, .front .region-highlighted, .not-front a.more-button {
  display: none;
}

/* line 53, ../sass/style.scss */
img {
  width: 100%;
  height: auto;
}

/* line 58, ../sass/style.scss */
p {
  padding: 20px 0px;
}

/*
======================================================================================
Variables
======================================================================================
*/
/*
======================================================================================
Miscellaneous
======================================================================================
*/
/* line 92, ../sass/style.scss */
a.more-button {
  text-align: center;
  display: block;
  text-decoration: none;
  background-color: #ffebac;
  color: #835932;
  padding: 10px;
  width: 150px;
  margin: 10px auto;
  font-family: 'BioRhyme', serif;
}
/* line 103, ../sass/style.scss */
a.more-button:hover {
  opacity: 0.7;
}

/* line 108, ../sass/style.scss */
.field-label {
  font-family: 'BioRhyme', serif;
  font-weight: 400;
  color: #fff6d8;
  font-size: 26px;
  padding: 20px 0px;
}

/* line 117, ../sass/style.scss */
.front .region-content #block-views-webform-block {
  margin: 0;
}

/* line 121, ../sass/style.scss */
.not-front h1#page-title {
  padding-top: 120px;
  /*
  @media screen and (max-width: $medium-layout) { 
  	padding-top:40px;
  }
  */
}

@media screen and (max-width: 900px) {
  /* line 131, ../sass/style.scss */
  .page-contact h1#page-title {
    padding-top: 130px;
  }
}

@media screen and (max-width: 900px) {
  /* line 140, ../sass/style.scss */
  .node-type-news h1#page-title {
    padding-top: 140px;
  }
}

/*
======================================================================================
Social Media
======================================================================================
*/
/* line 153, ../sass/style.scss */
#social-media-menu {
  position: absolute;
  right: 20px;
  top: 25px;
}
@media screen and (max-width: 1100px) {
  /* line 153, ../sass/style.scss */
  #social-media-menu {
    top: 18px;
  }
}
@media screen and (max-width: 600px) {
  /* line 153, ../sass/style.scss */
  #social-media-menu {
    top: 60px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    right: initial;
    text-align: center;
    width: 100%;
    background-color: #973141;
    padding: 5px 0px;
  }
}
/* line 179, ../sass/style.scss */
#social-media-menu .fa {
  width: 22px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  color: #973141;
  padding: 3px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border-radius: 25px 25px 25px 25px;
  /*border: 2px solid $red; */
  font-size: 16px;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}
/* line 197, ../sass/style.scss */
#social-media-menu .fa:hover {
  background-color: #973141;
  color: #ffebac;
}
@media screen and (max-width: 600px) {
  /* line 197, ../sass/style.scss */
  #social-media-menu .fa:hover {
    background-color: #382b23;
  }
}
@media screen and (max-width: 900px) {
  /* line 179, ../sass/style.scss */
  #social-media-menu .fa {
    padding: 0px;
  }
}
@media screen and (max-width: 600px) {
  /* line 179, ../sass/style.scss */
  #social-media-menu .fa {
    color: #ffebac;
  }
}

/*
======================================================================================
Banner Image
======================================================================================
*/
@media screen and (max-width: 900px) {
  /* line 228, ../sass/style.scss */
  .region-highlighted {
    padding-top: 60px;
  }
}
@media screen and (max-width: 600px) {
  /* line 234, ../sass/style.scss */
  .region-highlighted {
    padding-top: 90px;
  }
}
/*
======================================================================================
Page
======================================================================================
*/
/* line 245, ../sass/style.scss */
.front #header-wrapper {
  background: url("../images/realpaul-compressored.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 1200px;
}
@media screen and (max-width: 1400px) {
  /* line 245, ../sass/style.scss */
  .front #header-wrapper {
    height: 900px;
  }
}

/*
======================================================================================
Mailing List Form Submit
======================================================================================
*/
/* line 272, ../sass/style.scss */
.page-node-done .webform-confirmation {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #ffebac;
  font-weight: 300;
  font-size: 42px;
  text-shadow: 2px 2px 11px black;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  /* line 272, ../sass/style.scss */
  .page-node-done .webform-confirmation {
    font-size: 24px;
  }
}
/* line 291, ../sass/style.scss */
.page-node-done .links {
  display: none;
}

/*
======================================================================================
Login Page
======================================================================================
*/
/* line 305, ../sass/style.scss */
.page-user ul.tabs {
  display: none;
}
/* line 309, ../sass/style.scss */
.page-user #block-system-main {
  width: 505px;
  height: auto;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  /* line 309, ../sass/style.scss */
  .page-user #block-system-main {
    width: 100%;
  }
}
/* line 320, ../sass/style.scss */
.page-user #block-system-main label {
  color: #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  padding-right: 20px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 6px black;
}
@media screen and (max-width: 600px) {
  /* line 320, ../sass/style.scss */
  .page-user #block-system-main label {
    padding: 0;
    padding-bottom: 10px;
    display: inherit;
  }
}
/* line 340, ../sass/style.scss */
.page-user #block-system-main input, .page-user #block-system-main textarea {
  border: none;
  font-family: 'BioRhyme', serif;
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: #c7b6a7;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  /* line 340, ../sass/style.scss */
  .page-user #block-system-main input, .page-user #block-system-main textarea {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
  }
}

/*
======================================================================================
Contact Form
======================================================================================
*/
/* line 374, ../sass/style.scss */
.page-contact #block-system-main {
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  /* line 374, ../sass/style.scss */
  .page-contact #block-system-main {
    width: 100%;
  }
}
/* line 385, ../sass/style.scss */
.page-contact #block-system-main h2 {
  font-weight: 200;
}
/* line 389, ../sass/style.scss */
.page-contact #block-system-main .content {
  margin: 0 auto;
}
/* line 392, ../sass/style.scss */
.page-contact #block-system-main .content .form-item, .page-contact #block-system-main .content .form-actions {
  margin: 30px 0px;
}
/* line 396, ../sass/style.scss */
.page-contact #block-system-main .content label {
  color: #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  padding-right: 20px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 6px black;
}
@media screen and (max-width: 600px) {
  /* line 396, ../sass/style.scss */
  .page-contact #block-system-main .content label {
    padding: 0;
    padding-bottom: 10px;
    display: inherit;
  }
}
/* line 416, ../sass/style.scss */
.page-contact #block-system-main .content input, .page-contact #block-system-main .content textarea {
  border: none;
  font-family: 'BioRhyme', serif;
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: #c7b6a7;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  /* line 416, ../sass/style.scss */
  .page-contact #block-system-main .content input, .page-contact #block-system-main .content textarea {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
  }
}
/* line 437, ../sass/style.scss */
.page-contact #block-system-main .content .resizable-textarea .grippie {
  background: #999999 url(../../misc/grippie.png) no-repeat center 2px !important;
}

/*
======================================================================================
Header
======================================================================================
*/
/* line 455, ../sass/style.scss */
.not-front #header {
  background: rgba(51, 27, 8, 0.8);
}
/* line 458, ../sass/style.scss */
.not-front #header h2 {
  color: #fff6d8 !important;
}
@media screen and (max-width: 400px) {
  /* line 458, ../sass/style.scss */
  .not-front #header h2 {
    font-size: 9.8px !important;
    letter-spacing: 1px;
  }
}
/* line 468, ../sass/style.scss */
.not-front #header #social-media-menu .fa {
  color: #ffebac;
}
/* line 473, ../sass/style.scss */
.not-front #header #site-name {
  font-size: 48px !important;
}
/* line 476, ../sass/style.scss */
.not-front #header #site-name a {
  color: #ffebac !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 485, ../sass/style.scss */
.not-front #header #site-name a:hover {
  color: white !important;
}
@media screen and (max-width: 1100px) {
  /* line 473, ../sass/style.scss */
  .not-front #header #site-name {
    font-size: 32px !important;
  }
}
@media screen and (max-width: 400px) {
  /* line 473, ../sass/style.scss */
  .not-front #header #site-name {
    font-size: 26px !important;
  }
}
/* line 504, ../sass/style.scss */
.not-front .menu .leaf a {
  color: #fff6d8 !important;
}
@media screen and (max-width: 1400px) {
  /* line 507, ../sass/style.scss */
  .not-front .menu .leaf li {
    font-size: 12px !important;
  }
}

/* line 518, ../sass/style.scss */
#header-wrapper {
  font-family: 'BioRhyme', serif;
}
/* line 521, ../sass/style.scss */
#header-wrapper #header {
  width: 100%;
  height: 75px;
  position: fixed;
  transition: all 300ms ease;
  z-index: 12;
}
@media screen and (max-width: 1100px) {
  /* line 521, ../sass/style.scss */
  #header-wrapper #header {
    height: 60px;
  }
}
/* line 532, ../sass/style.scss */
#header-wrapper #header #name-and-slogan {
  position: absolute;
  top: 5px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
@media screen and (max-width: 1100px) {
  /* line 532, ../sass/style.scss */
  #header-wrapper #header #name-and-slogan {
    top: 7px;
  }
}
@media screen and (max-width: 900px) {
  /* line 532, ../sass/style.scss */
  #header-wrapper #header #name-and-slogan {
    left: 70px;
    transform: none;
  }
}
@media screen and (max-width: 400px) {
  /* line 532, ../sass/style.scss */
  #header-wrapper #header #name-and-slogan {
    top: 10px;
  }
}
@media screen and (max-width: 600px) {
  /* line 532, ../sass/style.scss */
  #header-wrapper #header #name-and-slogan {
    left: 50%;
    width: 100%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/* line 567, ../sass/style.scss */
#header-wrapper #header #name-and-slogan #site-name {
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 1100px) {
  /* line 567, ../sass/style.scss */
  #header-wrapper #header #name-and-slogan #site-name {
    font-size: 32px;
  }
}
@media screen and (max-width: 400px) {
  /* line 567, ../sass/style.scss */
  #header-wrapper #header #name-and-slogan #site-name {
    font-size: 26px !important;
  }
}
/* line 581, ../sass/style.scss */
#header-wrapper #header #name-and-slogan #site-name a {
  color: #973141;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 590, ../sass/style.scss */
#header-wrapper #header #name-and-slogan #site-name a:hover {
  color: white !important;
}
/* line 599, ../sass/style.scss */
#header-wrapper #header #sidr-wrapper-0 {
  width: 30px;
  display: block;
  position: absolute;
  z-index: 5;
  top: 13px;
  left: 20px;
}
/* line 607, ../sass/style.scss */
#header-wrapper #header #sidr-wrapper-0 span {
  display: block;
  height: 4px;
  width: 30px;
  border: none;
  background-color: white;
  border-radius: 70px !important;
  margin: 5px auto 5px auto;
}
/* line 619, ../sass/style.scss */
#header-wrapper #header h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 12px;
  color: #973141;
  text-align: center;
  padding-left: 9px;
}
@media screen and (max-width: 1100px) {
  /* line 619, ../sass/style.scss */
  #header-wrapper #header h2 {
    letter-spacing: 2px;
    font-size: 13px;
    padding: 0px;
  }
}
@media screen and (max-width: 400px) {
  /* line 619, ../sass/style.scss */
  #header-wrapper #header h2 {
    font-size: 11px !important;
    letter-spacing: 1px;
  }
}
/* line 644, ../sass/style.scss */
#header-wrapper #site-slogan {
  color: #835932;
  position: absolute;
  top: 150px;
  text-transform: uppercase;
  font-weight: 100;
  left: 50%;
  padding: 0px 20px;
  box-sizing: border-box;
  width: 100%;
  font-size: 24px;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 644, ../sass/style.scss */
  #header-wrapper #site-slogan {
    font-size: 24px;
  }
}

/*
======================================================================================
Menu
======================================================================================
*/
/* line 676, ../sass/style.scss */
.region-header {
  position: absolute;
  top: 25px;
  left: 20px;
}
@media screen and (max-width: 1100px) {
  /* line 676, ../sass/style.scss */
  .region-header {
    top: 19px;
  }
}
/* line 689, ../sass/style.scss */
.region-header .menu .leaf {
  font-size: 15px;
  display: inline-block;
  font-weight: 600;
}
/* line 694, ../sass/style.scss */
.region-header .menu .leaf a {
  text-decoration: none;
  color: #973141;
  padding: 6px 5px 6px 0px;
  box-sizing: border-box;
  display: block;
  border-left: 5px solid transparent;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
@media screen and (max-width: 1400px) {
  /* line 694, ../sass/style.scss */
  .region-header .menu .leaf a {
    padding: 6px 0px;
  }
}
/* line 713, ../sass/style.scss */
.region-header .menu .leaf a:hover {
  color: #ffebac;
  background-color: #835932;
  border-left: 5px solid #ffebac;
  padding: 6px 12px;
}
@media screen and (max-width: 1400px) {
  /* line 689, ../sass/style.scss */
  .region-header .menu .leaf {
    font-size: 12px !important;
  }
}
/* line 728, ../sass/style.scss */
.region-header .menu .active-trail a {
  color: #ffebac;
  background-color: #835932;
  border-left: 5px solid #ffebac;
  padding: 6px 12px;
}

/*
======================================================================================
Spotify/Youtube Blocks
======================================================================================
*/
/* line 745, ../sass/style.scss */
.region-content {
  width: 100%;
  height: auto;
  overflow: hidden;
  /*
  ======================================================================================
  Mailing List
  ======================================================================================
  */
}
/* line 750, ../sass/style.scss */
.region-content h2 {
  text-align: center;
  font-size: 27px;
  padding: 0px 0px 20px;
  text-transform: uppercase;
  font-family: 'BioRhyme', serif;
  color: #ffebac;
  font-weight: 700;
  width: 100%;
}
/* line 765, ../sass/style.scss */
.region-content h4 {
  font-family: 'BioRhyme', serif;
  font-weight: 200;
  font-size: 20px;
}
/* line 772, ../sass/style.scss */
.region-content::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 781, ../sass/style.scss */
.region-content .embedblock {
  width: 50%;
  float: left;
  text-align: center;
  height: 600px;
}
@media screen and (max-width: 1100px) {
  /* line 781, ../sass/style.scss */
  .region-content .embedblock {
    width: 100%;
    box-sizing: border-box;
  }
}
/* line 792, ../sass/style.scss */
.region-content .embedblock .content {
  display: table;
  height: 600px;
  margin: 0 auto;
  width: 500px;
  padding: 0px 20px;
}
@media screen and (max-width: 600px) {
  /* line 792, ../sass/style.scss */
  .region-content .embedblock .content {
    width: 100%;
    box-sizing: border-box;
  }
}
/* line 804, ../sass/style.scss */
.region-content .embedblock .content .blockcontainer {
  display: table-cell;
  vertical-align: middle;
}
/* line 808, ../sass/style.scss */
.region-content .embedblock .content .blockcontainer iframe {
  -webkit-box-shadow: 0px 5px 27px 0px black;
  -moz-box-shadow: 0px 5px 27px 0px black;
  box-shadow: 0px 5px 27px 0px black;
}
@media screen and (max-width: 1100px) {
  /* line 808, ../sass/style.scss */
  .region-content .embedblock .content .blockcontainer iframe {
    width: 100%;
  }
}
/* line 822, ../sass/style.scss */
.region-content .spotifyblock {
  background: linear-gradient(rgba(122, 47, 62, 0.75), rgba(122, 47, 62, 0.75)), url("../images/paulblock1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 829, ../sass/style.scss */
.region-content .youtubeblock {
  background: linear-gradient(rgba(49, 74, 85, 0.75), rgba(49, 74, 85, 0.75)), url("../images/paulblock2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 836, ../sass/style.scss */
.region-content #block-agenda-2 {
  width: 50%;
  float: left;
  background-color: #835932;
  height: 600px;
  background: linear-gradient(rgba(75, 49, 24, 0.85), rgba(75, 49, 24, 0.85)), url("../images/paulblock3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 600px) {
  /* line 836, ../sass/style.scss */
  .region-content #block-agenda-2 {
    height: 800px;
  }
}
@media screen and (max-width: 1100px) {
  /* line 836, ../sass/style.scss */
  .region-content #block-agenda-2 {
    width: 100%;
  }
}
/* line 854, ../sass/style.scss */
.region-content #block-agenda-2 .content {
  display: table;
  height: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  /* line 854, ../sass/style.scss */
  .region-content #block-agenda-2 .content {
    height: 800px;
  }
}
/* line 864, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block {
  width: 500px;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
  /* line 864, ../sass/style.scss */
  .region-content #block-agenda-2 .agenda-block {
    text-align: center;
  }
}
/* line 874, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block h3 {
  font-family: 'BioRhyme', serif;
  font-weight: 400;
  color: #fff6d8;
  font-size: 16px;
  padding: 0 0 0 30px;
}
@media screen and (max-width: 600px) {
  /* line 874, ../sass/style.scss */
  .region-content #block-agenda-2 .agenda-block h3 {
    border: none;
    float: none;
    width: 100%;
    height: auto;
    padding: 0px;
  }
}
/* line 894, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block .tour-date {
  color: #fff6d8;
  width: 80%;
  /*border-bottom: 1px solid $gold;*/
  margin: 25px auto;
  height: auto;
  padding: 10px 0px;
  box-sizing: border-box;
  border-left: 3px solid #fff6d8;
}
@media screen and (max-width: 600px) {
  /* line 894, ../sass/style.scss */
  .region-content #block-agenda-2 .agenda-block .tour-date {
    border: none;
    margin: 5px auto;
  }
}
/* line 909, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block .tour-date:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 918, ../sass/style.scss */
.region-content #block-agenda-2 .agenda-block .tour-date ol {
  padding: 0 0 0 30px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  /* line 918, ../sass/style.scss */
  .region-content #block-agenda-2 .agenda-block .tour-date ol {
    padding: 0px 20px;
    width: 100%;
    border: none;
  }
}
/* line 933, ../sass/style.scss */
.region-content #block-agenda-2 li.cal_0 {
  background-color: transparent;
}
/* line 936, ../sass/style.scss */
.region-content #block-agenda-2 li.cal_0 ul.moreinfo {
  display: block !important;
}
/* line 939, ../sass/style.scss */
.region-content #block-agenda-2 li.cal_0 ul.moreinfo li {
  display: inline-block;
  letter-spacing: 1px;
  padding: 0 8px 0 0;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  line-height: 14px;
}
/* line 948, ../sass/style.scss */
.region-content #block-agenda-2 li.cal_0 ul.moreinfo li em {
  font-weight: 400;
}
/* line 960, ../sass/style.scss */
.region-content #block-agenda-3 {
  width: 100%;
  float: left;
}
/* line 964, ../sass/style.scss */
.region-content #block-agenda-3 h2 {
  display: none;
}
/* line 968, ../sass/style.scss */
.region-content #block-agenda-3 h4 {
  font-size: 28px;
}
/* line 972, ../sass/style.scss */
.region-content #block-agenda-3 .content {
  padding: 20px;
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  /* line 972, ../sass/style.scss */
  .region-content #block-agenda-3 .content {
    width: 100%;
  }
}
/* line 990, ../sass/style.scss */
.region-content #block-agenda-3 .agenda-block h3 {
  font-family: 'BioRhyme', serif;
  font-weight: 400;
  color: #fff6d8;
  font-size: 20px;
  width: 30%;
  height: auto;
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  /* line 990, ../sass/style.scss */
  .region-content #block-agenda-3 .agenda-block h3 {
    border: none;
    float: none;
    width: 100%;
    height: auto;
    padding: 20px 0px;
  }
}
/* line 1012, ../sass/style.scss */
.region-content #block-agenda-3 .agenda-block #tour-block .tour-date:last-child {
  border: none;
}
/* line 1018, ../sass/style.scss */
.region-content #block-agenda-3 .agenda-block .tour-date {
  color: #fff6d8;
  border-bottom: 1px solid #ffebac;
  padding: 25px 0;
  height: auto;
  box-sizing: border-box;
}
/* line 1029, ../sass/style.scss */
.region-content #block-agenda-3 .agenda-block .tour-date:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 1038, ../sass/style.scss */
.region-content #block-agenda-3 .agenda-block .tour-date ol {
  width: 70%;
  float: left;
  padding: 0 0 0 50px;
  box-sizing: border-box;
  border-left: 4px solid #fff6d8;
}
@media screen and (max-width: 600px) {
  /* line 1038, ../sass/style.scss */
  .region-content #block-agenda-3 .agenda-block .tour-date ol {
    padding: 0px;
    width: 100%;
    border: none;
  }
}
/* line 1057, ../sass/style.scss */
.region-content #block-agenda-3 li.cal_0 {
  background-color: transparent;
  padding: 20px 0px;
  border-bottom: 1px solid #ffebac;
}
@media screen and (max-width: 900px) {
  /* line 1057, ../sass/style.scss */
  .region-content #block-agenda-3 li.cal_0 {
    padding: 20px 20px 20px 0px;
  }
}
/* line 1070, ../sass/style.scss */
.region-content #block-agenda-3 li.cal_0:last-child {
  border: none;
}
/* line 1074, ../sass/style.scss */
.region-content #block-agenda-3 li.cal_0 ul.moreinfo {
  display: block !important;
}
/* line 1077, ../sass/style.scss */
.region-content #block-agenda-3 li.cal_0 ul.moreinfo li {
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  line-height: 22px;
}
/* line 1084, ../sass/style.scss */
.region-content #block-agenda-3 li.cal_0 ul.moreinfo li em {
  font-weight: 400;
}
/* line 1095, ../sass/style.scss */
.region-content #block-views-news-block {
  width: 50%;
  float: left;
  background-color: #835932;
  height: 600px;
  background: linear-gradient(rgba(182, 85, 12, 0.85), rgba(182, 85, 12, 0.85)), url("../images/paulblock4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  /* line 1095, ../sass/style.scss */
  .region-content #block-views-news-block {
    width: 100%;
  }
}
/* line 1110, ../sass/style.scss */
.region-content #block-views-news-block .content {
  display: table;
  width: 500px;
  height: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  /* line 1110, ../sass/style.scss */
  .region-content #block-views-news-block .content {
    width: 100%;
  }
}
/* line 1121, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news {
  display: table-cell;
  vertical-align: middle;
}
/* line 1125, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news .views-row {
  padding: 22px 0;
  border-bottom: 1px solid #ffebac;
  text-align: center;
}
@media screen and (max-width: 600px) {
  /* line 1125, ../sass/style.scss */
  .region-content #block-views-news-block .content .view-news .views-row {
    margin: 0 20px;
    padding: 16px 0px;
  }
}
/* line 1135, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news .views-row a {
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  text-decoration: none;
  color: #fff6d8;
  font-size: 22px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1148, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news .views-row a:hover {
  color: white;
}
/* line 1154, ../sass/style.scss */
.region-content #block-views-news-block .content .view-news .views-row:last-child {
  border: none;
}
/* line 1163, ../sass/style.scss */
.region-content div#block-views-news-block-1 {
  text-align: center;
  width: 900px;
  margin: 0 auto;
  padding: 50px 20px;
}
@media screen and (max-width: 1100px) {
  /* line 1163, ../sass/style.scss */
  .region-content div#block-views-news-block-1 {
    width: 100%;
    box-sizing: border-box;
  }
}
/* line 1176, ../sass/style.scss */
.region-content div#block-views-news-block-1 .views-row {
  background: transparent;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
/* line 1184, ../sass/style.scss */
.region-content div#block-views-news-block-1 .views-row a {
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  text-decoration: none;
  color: #fff6d8;
  font-size: 24px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-shadow: 1px 1px 10px white;
}
/* line 1198, ../sass/style.scss */
.region-content div#block-views-news-block-1 .views-row a:hover {
  color: white;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
/* line 1207, ../sass/style.scss */
.region-content div#block-views-news-block-1 .views-row:before, .region-content div#block-views-news-block-1 .views-row:after {
  content: "";
  height: 1px;
  background: linear-gradient(to right, transparent 0%, #ffebac 50%, transparent 100%);
  display: block;
  margin: 20px 0px;
}
/* line 1216, ../sass/style.scss */
.region-content div#block-views-news-block-1 .views-row .views-field-field-date {
  color: #ffebac;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding-top: 5px;
}
/* line 1224, ../sass/style.scss */
.region-content div#block-views-news-block-1 .views-row:hover {
  background: rgba(255, 246, 216, 0.3);
}
/* line 1230, ../sass/style.scss */
.region-content #block-block-3 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/paulpsyched.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #020202;
  padding: 150px 20px;
  box-sizing: border-box;
}
/* line 1244, ../sass/style.scss */
.region-content #block-block-3 h2 {
  padding-bottom: 50px;
}
/* line 1248, ../sass/style.scss */
.region-content #block-block-3 .content {
  width: 50%;
  margin: 0 auto;
  height: auto;
}
@media screen and (max-width: 1100px) {
  /* line 1248, ../sass/style.scss */
  .region-content #block-block-3 .content {
    width: 100%;
  }
}
/* line 1268, ../sass/style.scss */
.region-content #block-views-webform-block {
  background-color: #1a1a1a;
  float: left;
  padding: 50px 20px 20px;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  box-sizing: border-box;
}
/* line 1277, ../sass/style.scss */
.region-content #block-views-webform-block h2 {
  font-weight: 200;
}
/* line 1281, ../sass/style.scss */
.region-content #block-views-webform-block .content {
  margin: 0 auto;
}
/* line 1285, ../sass/style.scss */
.region-content #block-views-webform-block .content .form-item.webform-component.webform-component-email.webform-component--your-email label {
  display: inline-block;
  color: #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  padding-right: 20px;
}
@media screen and (max-width: 600px) {
  /* line 1285, ../sass/style.scss */
  .region-content #block-views-webform-block .content .form-item.webform-component.webform-component-email.webform-component--your-email label {
    padding: 0;
    padding-bottom: 10px;
    display: inherit;
  }
}
/* line 1300, ../sass/style.scss */
.region-content #block-views-webform-block .content input#edit-submitted-your-email {
  background-color: #2D2D2D;
  border: none;
  height: 30px;
  color: white;
}
@media screen and (max-width: 600px) {
  /* line 1300, ../sass/style.scss */
  .region-content #block-views-webform-block .content input#edit-submitted-your-email {
    width: 100%;
  }
}
/* line 1310, ../sass/style.scss */
.region-content #block-views-webform-block .content input.webform-submit.button-primary.form-submit {
  border: none;
  font-family: 'BioRhyme', serif;
  text-transform: uppercase;
  color: #ffebac;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px;
  background-color: #382b23;
}
/* line 1320, ../sass/style.scss */
.region-content #block-views-webform-block .content input.webform-submit.button-primary.form-submit:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* line 1328, ../sass/style.scss */
.region-content #block-block-4 {
  width: 100%;
  background-color: #131313;
  float: left;
  padding: 15px 20px 16px;
  box-sizing: border-box;
}
/* line 1335, ../sass/style.scss */
.region-content #block-block-4 .content {
  width: 100%;
}
/* line 1339, ../sass/style.scss */
.region-content #block-block-4 #footer {
  width: 100%;
}
/* line 1342, ../sass/style.scss */
.region-content #block-block-4 #footer #footer-item-email,
.region-content #block-block-4 #footer #footer-item-copyright,
.region-content #block-block-4 #footer #footer-item-siteby {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: #444444;
  opacity: 0.8;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 875px) {
  /* line 1342, ../sass/style.scss */
  .region-content #block-block-4 #footer #footer-item-email,
  .region-content #block-block-4 #footer #footer-item-copyright,
  .region-content #block-block-4 #footer #footer-item-siteby {
    width: 100%;
    line-height: 25px;
  }
}
/* line 1361, ../sass/style.scss */
.region-content #block-block-4 #footer #footer-item-email a,
.region-content #block-block-4 #footer #footer-item-copyright a,
.region-content #block-block-4 #footer #footer-item-siteby a {
  color: #973141;
  text-decoration: none;
}
/* line 1367, ../sass/style.scss */
.region-content #block-block-4 #footer #footer-item-email,
.region-content #block-block-4 #footer #footer-item-copyright {
  opacity: 1;
}

/*
======================================================================================
Mean Menu
======================================================================================
*/
/* line 1385, ../sass/style.scss */
.mean-bar {
  background: transparent !important;
  width: 58px !important;
  height: 50px;
  position: fixed !important;
  z-index: 100 !important;
}
/* line 1393, ../sass/style.scss */
.mean-bar a.meanmenu-reveal {
  width: 30px;
  height: 30px;
}
/* line 1397, ../sass/style.scss */
.mean-bar a.meanmenu-reveal span {
  height: 5px;
  background-color: #973141;
  margin-top: 4px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 26px 0px #d40000;
  -moz-box-shadow: 0px 0px 26px 0px #d40000;
  box-shadow: 0px 0px 26px 0px #d40000;
}
/* line 1408, ../sass/style.scss */
.mean-bar nav.mean-nav {
  width: 100vw !important;
  position: absolute;
  top: 20px;
}
@media screen and (max-width: 900px) {
  /* line 1408, ../sass/style.scss */
  .mean-bar nav.mean-nav {
    top: 16px;
  }
}
@media screen and (max-width: 600px) {
  /* line 1408, ../sass/style.scss */
  .mean-bar nav.mean-nav {
    top: 48px;
  }
}
/* line 1421, ../sass/style.scss */
.mean-bar nav.mean-nav li {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  background: #382b23;
}
/* line 1426, ../sass/style.scss */
.mean-bar nav.mean-nav li a {
  color: #ffebac !important;
}
/* line 1435, ../sass/style.scss */
.mean-bar nav.mean-nav:hover li:hover {
  background: #973141 !important;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1442, ../sass/style.scss */
.mean-bar nav.mean-nav:hover li:hover a:hover {
  color: white !important;
  background: none;
}
/* line 1450, ../sass/style.scss */
.mean-bar a.meanmenu-reveal.meanclose {
  top: 6px;
  text-shadow: 0px 0px 14px #d60000;
}

/*
======================================================================================
Music Block
======================================================================================
*/
/* line 1461, ../sass/style.scss */
h1 {
  text-transform: uppercase;
  font-family: 'BioRhyme', serif;
  color: #fff6d8;
  font-weight: 400;
  width: 900px;
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  transition: all 200ms ease;
}
@media screen and (max-width: 900px) {
  /* line 1461, ../sass/style.scss */
  h1 {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1461, ../sass/style.scss */
  h1 {
    font-size: 28px;
  }
}

/* line 1484, ../sass/style.scss */
.page-contact #main {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/rusticpaul.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  width: 100vw;
  height: auto;
}

/* line 1493, ../sass/style.scss */
.node-type-music #main,
.page-node-3 #main,
.node-type-news #main {
  position: relative;
}
/* line 1499, ../sass/style.scss */
.node-type-music #main:after,
.page-node-3 #main:after,
.node-type-news #main:after {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../images/tileable-wood-colored.png");
  background-color: #331b08;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

/* line 1515, ../sass/style.scss */
#main {
  position: relative;
}
/* line 1519, ../sass/style.scss */
#main:after {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../images/tileable-wood-colored.png");
  background-color: #331b08;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}
/* line 1535, ../sass/style.scss */
#main .region-content .field-name-field-description {
  text-align: center;
  color: #fff6d8;
  width: 700px;
  height: auto;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 20px;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  /* line 1535, ../sass/style.scss */
  #main .region-content .field-name-field-description {
    width: 100%;
  }
}
/* line 1553, ../sass/style.scss */
#main .region-content .field-name-field-description:before, #main .region-content .field-name-field-description:after {
  content: "";
  height: 2px;
  background: linear-gradient(to right, transparent 0%, rgba(255, 235, 172, 0.7) 50%, transparent 100%);
  display: block;
  margin: 15px 0px;
}
/* line 1562, ../sass/style.scss */
#main .region-content #block-views-music-block {
  width: 900px;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  /* line 1562, ../sass/style.scss */
  #main .region-content #block-views-music-block {
    width: 100%;
  }
}
/* line 1575, ../sass/style.scss */
#main .region-content #block-views-music-block .view-content::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 1585, ../sass/style.scss */
#main .region-content #block-views-music-block .views-row {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1596, ../sass/style.scss */
#main .region-content #block-views-music-block .views-row:hover {
  opacity: 0.7;
}
@media screen and (max-width: 900px) {
  /* line 1585, ../sass/style.scss */
  #main .region-content #block-views-music-block .views-row {
    width: 100%;
  }
}
/* line 1606, ../sass/style.scss */
#main .region-content #block-views-music-block .views-row .views-field-field-album-art img {
  border: 2px solid #ffebac;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 5px 27px 0px black;
  -moz-box-shadow: 0px 5px 27px 0px black;
  box-shadow: 0px 5px 27px 0px black;
}
/* line 1617, ../sass/style.scss */
#main .region-content #block-views-music-block .views-row .views-field-title {
  text-align: center;
}
/* line 1620, ../sass/style.scss */
#main .region-content #block-views-music-block .views-row .views-field-title a {
  text-decoration: none;
  color: #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 200;
  font-size: 24px;
  display: block;
  padding: 30px 0px;
  text-transform: uppercase;
}

/*
======================================================================================
Node News Pages
======================================================================================
*/
/* line 1643, ../sass/style.scss */
.node-type-news #block-system-main {
  width: 900px;
  margin: 0 auto;
  padding: 20px 30px 50px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  /* line 1643, ../sass/style.scss */
  .node-type-news #block-system-main {
    width: 100%;
  }
}
/* line 1653, ../sass/style.scss */
.node-type-news #block-system-main .field-name-field-date {
  width: 100%;
  color: #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 100;
  padding: 10px 0px 30px;
  margin: 0 auto;
  text-align: center;
}
/* line 1662, ../sass/style.scss */
.node-type-news #block-system-main .field-name-field-body {
  color: #fff6d8;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 25px;
  font-size: 18px;
  width: 80%;
  padding-top: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  /* line 1662, ../sass/style.scss */
  .node-type-news #block-system-main .field-name-field-body {
    width: 100%;
  }
}
/* line 1676, ../sass/style.scss */
.node-type-news #block-system-main .field-name-field-body a {
  text-decoration: none;
  color: #ffebac;
}

/*
======================================================================================
Node Music Pages
======================================================================================
*/
/* line 1694, ../sass/style.scss */
.node-type-music #block-system-main {
  width: 900px;
  margin: 0 auto;
  padding: 50px 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  /* line 1694, ../sass/style.scss */
  .node-type-music #block-system-main {
    width: 100%;
  }
}
/* line 1706, ../sass/style.scss */
.node-type-music #block-system-main .content::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 1714, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-music-description {
  width: 100%;
  float: left;
  color: #fff6d8;
  padding: 20px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 25px;
  font-size: 18px;
}
/* line 1726, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-date-of-release {
  width: 100%;
  float: left;
  color: #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 100;
}
/* line 1735, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-album-art {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 0px;
  box-sizing: border-box;
}
/* line 1741, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-album-art img {
  -webkit-box-shadow: 0px 5px 27px 0px black;
  -moz-box-shadow: 0px 5px 27px 0px black;
  box-shadow: 0px 5px 27px 0px black;
}
@media screen and (max-width: 900px) {
  /* line 1735, ../sass/style.scss */
  .node-type-music #block-system-main .content .field-name-field-album-art {
    width: 100%;
    padding: 20px;
  }
}
/* line 1753, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-songs-lyrics {
  width: 50%;
  float: left;
  padding: 20px 0px 20px 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  /* line 1753, ../sass/style.scss */
  .node-type-music #block-system-main .content .field-name-field-songs-lyrics {
    width: 100%;
    padding: 20px;
  }
}
/* line 1764, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-songs-lyrics .ui-widget-content {
  background: transparent;
  border: none;
  padding: 0px 10px;
}
/* line 1770, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-songs-lyrics h3 {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 10px 0px 10px 2.2em;
  box-sizing: border-box;
  margin-bottom: 20px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
/* line 1788, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-songs-lyrics h3:hover {
  background: rgba(255, 246, 216, 0.3);
}
/* line 1792, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-songs-lyrics h3 a {
  color: #ffebac;
  position: relative;
}
/* line 1797, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-songs-lyrics h3::after {
  content: "Lyrics";
  position: absolute;
  font-family: 'Lato', sans-serif;
  right: 10px;
  font-size: 14px;
  font-weight: 100;
  color: #fff6d8;
}
@media screen and (max-width: 600px) {
  /* line 1797, ../sass/style.scss */
  .node-type-music #block-system-main .content .field-name-field-songs-lyrics h3::after {
    font-size: 8px;
    margin-top: 5px;
  }
}
/* line 1814, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-songs-lyrics p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff6d8;
}
/* line 1821, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-photos {
  width: 100%;
  float: left;
  padding: 20px 0px;
  box-sizing: border-box;
}
/* line 1830, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-photos .field-items::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 1839, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-photos .field-items .field-item {
  width: 25%;
  float: left;
  /*padding:10px;*/
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  /* line 1839, ../sass/style.scss */
  .node-type-music #block-system-main .content .field-name-field-photos .field-items .field-item {
    width: 50%;
  }
}
/* line 1851, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-photos img {
  -webkit-box-shadow: 0px 5px 27px 0px black;
  -moz-box-shadow: 0px 5px 27px 0px black;
  box-shadow: 0px 5px 27px 0px black;
}
/* line 1859, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-videos {
  width: 100%;
  float: left;
  padding: 20px 0px;
  box-sizing: border-box;
}
/* line 1865, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-videos .field-item {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  /* line 1865, ../sass/style.scss */
  .node-type-music #block-system-main .content .field-name-field-videos .field-item {
    width: 100%;
  }
}
/* line 1874, ../sass/style.scss */
.node-type-music #block-system-main .content .field-name-field-videos .field-item iframe {
  width: 100%;
  -webkit-box-shadow: 0px 5px 27px 0px black;
  -moz-box-shadow: 0px 5px 27px 0px black;
  box-shadow: 0px 5px 27px 0px black;
}
/* line 1885, ../sass/style.scss */
.node-type-music #block-system-main .content .field-collection-container {
  width: 100%;
  float: left;
  padding: 20px 0px;
  box-sizing: border-box;
}
/* line 1895, ../sass/style.scss */
.node-type-music #block-system-main .content .field-collection-container .field-name-field-credits > .field-items::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 1904, ../sass/style.scss */
.node-type-music #block-system-main .content .field-collection-container .field-name-field-credits > .field-items > .field-item {
  padding: 10px 0px;
  width: 33.3333333333%;
  float: left;
}
@media screen and (max-width: 900px) {
  /* line 1904, ../sass/style.scss */
  .node-type-music #block-system-main .content .field-collection-container .field-name-field-credits > .field-items > .field-item {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  /* line 1904, ../sass/style.scss */
  .node-type-music #block-system-main .content .field-collection-container .field-name-field-credits > .field-items > .field-item {
    width: 100%;
  }
}
/* line 1917, ../sass/style.scss */
.node-type-music #block-system-main .content .field-collection-container .field-name-field-credits > .field-items > .field-item .field-name-field-title-of-person {
  color: #ffebac;
  font-family: 'BioRhyme', serif;
  font-weight: 300;
  font-size: 20px;
}
/* line 1925, ../sass/style.scss */
.node-type-music #block-system-main .content .field-collection-container .field-name-field-credits > .field-items > .field-item .field-name-field-name-of-person {
  color: #fff6d8;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/*
======================================================================================
Media Queries
======================================================================================
*/
@media screen and (max-width: 1200px) {
  /* line 1966, ../sass/style.scss */
  .front #header.small {
    height: 75px;
    background: rgba(51, 27, 8, 0.7);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  }
  /* line 1971, ../sass/style.scss */
  .front #header.small h1#site-name {
    font-size: 48px !important;
  }
  /* line 1974, ../sass/style.scss */
  .front #header.small h1#site-name a {
    color: #fff6d8 !important;
  }
  /* line 1979, ../sass/style.scss */
  .front #header.small .menu .leaf a {
    color: #fff6d8;
  }
  /* line 1983, ../sass/style.scss */
  .front #header.small #social-media-menu .fa {
    color: #fff6d8;
  }
  /* line 1988, ../sass/style.scss */
  .front #header.small h2 {
    color: #fff6d8 !important;
  }

  /* line 1996, ../sass/style.scss */
  .mean-bar span {
    background-color: white !important;
  }
}
@media screen and (min-width: 1200px) {
  /* line 2007, ../sass/style.scss */
  .front #header.small {
    height: 75px;
    background: rgba(51, 27, 8, 0.7);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  }
  /* line 2012, ../sass/style.scss */
  .front #header.small h1#site-name {
    font-size: 48px !important;
  }
  /* line 2015, ../sass/style.scss */
  .front #header.small h1#site-name a {
    color: #fff6d8 !important;
  }
  /* line 2020, ../sass/style.scss */
  .front #header.small .menu .leaf a {
    color: #fff6d8;
  }
  /* line 2024, ../sass/style.scss */
  .front #header.small #social-media-menu .fa {
    color: #fff6d8;
  }
  /* line 2029, ../sass/style.scss */
  .front #header.small h2 {
    color: #fff6d8 !important;
  }
}
